DATABASE_URI=postgres://postgres:postgres@localhost:5432/gofermart?sslmode=disable
DATABASE_URI_DOCKER=postgres://postgres:postgres@postgres:5432/gofermart?sslmode=disable
RUN_ADDRESS=:8080
SECRET=SecRetKey
ACCRUAL_SYSTEM_ADDRESS=http://localhost:8082
LOG_LEVEL=info